[submodule "data/benchmarks/CompCert"]
	path = src/data/benchmarks/CompCert
	url = https://github.com/AbsInt/CompCert.git
	ignore = dirty
[submodule "data/benchmarks/miniF2F"]
	path = src/data/benchmarks/miniF2F
	url = https://github.com/facebookresearch/miniF2F.git
	ignore = dirty
[submodule "src/itp_interface/pisa"]
	path = src/itp_interface/pisa
	url = https://github.com/albertqjiang/Portal-to-ISAbelle.git
	ignore = dirty
[submodule "src/itp_interface/tools/repl"]
	path = src/itp_interface/tools/repl
	url = https://github.com/amit9oct/repl.git
[submodule "src/data/test/batteries"]
	path = src/data/test/batteries
	url = https://github.com/leanprover-community/batteries.git
	ignore = dirty
[submodule "src/data/test/Strata"]
	path = src/data/test/Strata
	url = https://github.com/strata-org/Strata.git
	ignore = dirty
[submodule "src/data/test/cslib"]
	path = src/data/test/cslib
	url = https://github.com/leanprover/cslib.git
	ignore = dirty
[submodule "src/data/test/miniF2F-lean4"]
	path = src/data/test/miniF2F-lean4
	url = https://github.com/yangky11/miniF2F-lean4
[submodule "src/data/test/PutnamBench"]
	path = src/data/test/PutnamBench
	url = https://github.com/trishullab/PutnamBench.git
[submodule "src/data/test/clever"]
	path = src/data/test/clever
	url = https://github.com/trishullab/clever.git
